<!DOCTYPE HTML>


<div class="modal" tabindex="-1" role="dialog" ng-controller="userForgotPasswordController as vm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind-html="title"></h4>
            </div>
            <div class="modal-body">
                <form name = "forgotPassword" ng-hide="vm.success" class="form-inline" ng-submit="vm.ResetPassword()">
                    <div class="form-group"
                         ng-class="{ 'has-error has-feedback' : forgotPassword.email.$invalid && !forgotPassword.email.$pristine }">
                        <div>
                            <input type="email" name="email" class="form-control" ng-model="vm.email" placeholder="Email Address" required/>
                            <label class="fa xerror"
                                   ng-class="{ 'fa-exclamation-circle' : forgotPassword.email.$invalid && !forgotPassword.email.$pristine }"></label>
                            <div class="help-block" ng-messages="forgotPassword.email.$error">
                                <div ng-message="required">You must enter the email</div>
                                <div ng-message="email">Please input a valid email</div>
                                <div ng-message="maxlength">Your email cannot be longer than 30 characters</div>
                                <div ng-message="minlength">Your email is required to be at least 3 characters</div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group for-form-forgot-password">
                        <button type="submit" class="btn btn-danger" ng-hide="forgotPassword.$invalid">Reset Password</button>
                    </div>
                </form>
                <div ng-show="vm.success" class="row alert alert-info">
                    <strong>Please check your email. </strong>
                    An email has been sent to "{{vm.email}}" with instructions on how to reset your password and regain access to your account.
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>
